section#about {
  h3.section-subheading {
    @include body-font;
    font-size: 22px;
    line-height: 32px;
    margin-top: -30px;
    span {
      // color: rgba(0, 0, 0, 0.72)
      // text-decoration: underline;
    }
  }
}