// Styling for the contact section
section#contact {
  padding: 130px 0 170px 0;
  a.email-link {
    display: inline-block;
    line-height: 50px;
    background: $brand-background;
    padding: 8px 28px;
    border-radius: 5px;
    &:hover {
      text-decoration: none;
    }
    span {   
      vertical-align: middle;
      font-weight: 300;
      font-size: 20px;
      color: rgba(0, 0, 0, 0.81);
      padding-left: 14px;
      letter-spacing: 1px;
      color: $brand-text;
    }
    i {
      color: $brand-color;
      vertical-align: middle;
      font-size: 40px;
    }
  }
}
