// Styling for the footer
footer {
  padding: 25px 0;
  span.copyright {
    margin-top: 50px;
    display: block;
    line-height: 40px;
    text-transform: none;
    color: rgba(0, 0, 0, 0.44);
    font-size: 12px;
    @include heading-font;
  }
  ul.quicklinks {
    font-size: 90%;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
    @include heading-font;
  }
  a.footer-btn {
    &:hover {
      text-decoration: none;
    }
    display: inline-block;
    background: white;
    color: black;
    line-height: 73px;
    padding: 0 20px;
    border: 2px solid rgba(0, 0, 0, 0.49);
    border-radius: 8px;
    margin-bottom: 20px;
    img {
      width: 40px;
    }
    span {
      display: inline-block;
      margin-left: 8px;
    }
  }
  ul.social-buttons {
    margin-bottom: 30px;
  }
}

ul.social-buttons {
  margin-bottom: 0;
  margin-top: 20px;
  li {
    a {
      font-size: 20px;
      line-height: 40px;
      display: block;
      width: 40px;
      height: 40px;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      color: white;
      border-radius: 100%;
      outline: none;
      background-color: $gray-darker;
      &:active,
      &:focus,
      &:hover {
        background-color: $theme-primary;
      }
    }
  }
}
