// Global styling for this template
body {
  overflow-x: hidden;
  @include body-font;
}

p {
  line-height: 1.75;
}

a {
  color: $theme-primary;
  &.active,
  &:active,
  &:focus,
  &:hover {
    color: darken($theme-primary, 10%);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  @include heading-font;
}

.logo-text-lg {
  background: rgb(29, 45, 60);
  display: inline-block;
  padding: 2px 12px;
  border-radius: 3px;
  margin-right: 3px;
  img {
    width: 90px;
  }
}

section {
  padding: 100px 0;
  h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  h3.section-subheading {
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;

    max-width: 680px;
    margin: 50px auto 100px auto;
    font-style: normal;
    font-family: sans-serif;

    @include body-font;
  }
}
@media(min-width:768px) {
  section {
    padding: 150px 0;
  }
}

// Highlight color customization
::-moz-selection {
  background: $theme-primary;
  text-shadow: none;
}

::selection {
  background: $theme-primary;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  -webkit-tap-highlight-color: $theme-primary;
}
