// Styling for the masthead
header.masthead {
  position: relative;
  text-align: center;
  color: white;
  background: linear-gradient($brand-background,rgba(29, 45, 60, 0.5)), url('../img/banners/desktop.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  @include background-cover;
  .big-logo {
    position: relative;
    left: -15px;
    width: 210px;
  }
  .intro-text {
    padding-top: 160px;
    padding-bottom: 140px;
    .down-link {
      position: absolute;
      z-index: 1;
      color: $brand-color;
      background: $brand-background;
      padding: 15px 23px;
      font-size: 32px;
      border-radius: 100px;
      bottom: 0;
      margin-left: -135px;
      margin-bottom: -41px;
      border: 2px solid rgb(255, 255, 255);
    }
    .intro-heading {
      font-size: 18px;
      font-style: italic;
      line-height: 22px;
      margin-bottom: 25px;
      @include body-font;
    }
    .intro-lead-in {
      font-size: 25px;
      font-weight: 100;
      text-shadow: 2px 2px 12px black;
      line-height: 50px;
      margin-bottom: 25px;
      text-transform: none;
      @include heading-font;
    }
  }
}
@media(min-width:768px) {
  header.masthead {
    .intro-text {
      padding-top: 160px;
      padding-bottom: 200px;
      .intro-heading {
        font-size: 30px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 25px;
        @include body-font;
      }
      .intro-lead-in {
        font-size: 25px;
        font-weight: 100;
        text-shadow: 2px 2px 12px black;
        line-height: 75px;
        margin-bottom: 50px;
        text-transform: none;
        @include heading-font;
      }
    }
  }
}

.header-fade {
  background: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));
  position: relative;
  height: 180px;
  top: -180px;
  margin-bottom: -150px;
}
